<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--Boton-->
  <button type="button" (click)="ejecutar()" class="btn btn-link text-light" data-bs-toggle="modal"
    data-bs-target="#ModalT" data-bs-whatever="@mdo">Analizar</button>
</nav>

<div class="container">
  <!--
  <div class="row mt-3">
    <div class="col-12">
      <input id="fileInput" title="Abrir" type="file" size="50" (change)="openFile($event.target)"
        class="btn btn-secundary" [(ngModel)]="file_">
      <button onclick="DescargarArchivo();" id="guardar" title="Guardar" class="btn btn-primary"
        type="button">Guardar</button>
      <button onclick="agregar();" title="AgregarPestana" id="btn4" class="btn btn-primary" type="button">Agregar
        Pestana</button>
      <button onclick="quitar();" title="QuitarPestana" id="btn5" class="btn btn-primary" type="button">Quitar
        Pestana</button>
    </div>
  </div>
  -->
  <div class="row mt-3">
    <div class="col-12 p-5">
      <!--FUNCION ABRIR ARCHIVO-->
      <input type="file" id="file-input">
      <h3>Contenido del archivo:</h3>
      <textarea id="contenido" cols="100" rows="10"></textarea>
      <!--FIN FUNCION ABRIR ARCHIVO-->
    </div>
    <div class="col-12">
      <h1>Entrada</h1>
    </div>
    <div class="col-12">
      <ngx-codemirror id="xxx" [(ngModel)]="contenido" [options]="{
          lineNumbers: true,
          theme: 'the-matrix',
          mode: 'markdown'
          }">
      </ngx-codemirror>
    </div>
    <!--
        <select class="form-control" id="selectTest" name="selectTest" [(ngModel)]="p" (change)="cambioTest(test)">
          <option [value]="test.id_test" *ngFor="let test of tests">{{p.nombre}}</option>
        </select>
        -->
    <div class="col-12">
      <h1>Consola</h1>
    </div>
    <div class="col-12">
      <ngx-codemirror [(ngModel)]="consola" [options]="{
            lineNumbers: true,
            theme: 'the-matrix',
            mode: 'markdown'
            }">
      </ngx-codemirror>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <h1>Tabla de simbolos</h1>
    </div>
    <div class="col-12">
      <table class="table">
        <thead class="table table-dark">
          <tr>
            <td>Simbolo</td>
            <td>tipo</td>
            <td>identificador</td>
            <td>valor</td>
            <td>entorno</td>
            <td>linea</td>
            <td>columna</td>
          </tr>
        </thead>
        <tbody *ngFor="let simbolo of tabla2">
          <tr class="bg-light">
            <td>{{simbolo.simbol}}</td>
            <td>{{simbolo.tipo}}</td>
            <td>{{simbolo.identificador}}</td>
            <td>{{simbolo.valor}}</td>
            <td>{{simbolo.entorno}}</td>
            <td>{{simbolo.linea}}</td>
            <td>{{simbolo.columna}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <h1>Reporte errores</h1>
    </div>
    <div class="col-12">
      <table class="table">
        <thead class="table table-dark">
          <tr>
            <td>Tipo error</td>
            <td>Descripcion</td>
            <td>Linea</td>
            <td>Columna</td>
          </tr>
        </thead>
        <tbody *ngFor="let err of errors">
          <tr class="bg-light">
            <td>{{err.tipo}}</td>
            <td>{{err.descripcion}}</td>
            <td>{{err.linea}}</td>
            <td>{{err.columna}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <h1>Grafo</h1>
    </div>
    <div class="col-12">
      <div id="ast" class="tabcontent">
        <!--style="background-color: #"-->
        <div class="overflow-aout" id="grafico" style="text-align: center;"></div>
      </div>
    </div>
  </div>
</div>

<!--Modal-->
<div class="modal fade" id="ModalF" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ejecucion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">Resultado: {{estado}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal-->
<div class="modal fade" id="ModalT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ejecucion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">Resultado de la ejecucion: {{estado}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>